*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body{
  background: #000000;
  color: #fff;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url(../Images/cover-image.jpg);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width: 140px;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;  /*10px from TOP & BOTTOM and 20px from LEFT & RIGHT*/
}

nav ul li a{
  color: rgb(0, 38, 255);
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

.header-text{
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1{
  margin-top: 20px;
  font-size: 30px;
}

.header-text h1 span{
  color: #ff004f;
}

/*      ------------About--------------       */
#about{
  padding: 80px 10px;
  color: #ababab;
}

.container2{
  padding: 0;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles{
  display:flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  background: #ff004f;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #b54769;
  font-size: 14px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

/*      --------------contact--------------     */
.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
}

.btn.btn2{
  display: inline-block;
  background: #ff004f;
}

.contact-right{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.social-icons a{
  color: #fff;
  text-decoration: none; 
  font-size: 20px;
  position: relative;
}